body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50px;
    font-size: 50px;
    font-weight: bold;

}

.keys {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    max-width: 1400px;
}

.key {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(168, 126, 126);
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 0 #000;
    padding: 5px;
    margin: 15px;
    transition: all 0.3s;
}

.playing {
    transform: scale(1.3);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

.sound {
    direction: rtl;
    font-family: 'Amiri', 'Scheherazade', serif;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
}

#first-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#middle-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#last-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.text {
    background-color: black;
    border: 0.1px solid gray;
    color: rgb(0, 255, 0);
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 200px;
    font-size: 28px;
}

